.contenedorPrincipal{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.cardPelicula{
    width: 27%;
    margin-top: 30px;
    background-color: lightgray;
    border-color: white;
}

.Buscador{
    text-align: center;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}